src/main/resources/getAll.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="PrototypeRequestAll">
    </xs:element>

    <xs:element name="PrototypeResponseAll" nillable="false">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="value" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>