src/main/resources/getValueByKey.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">
    <xs:element name="PrototypeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name= "name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PrototypeResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element name= "value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>


</xs:schema>